img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 156px;
}

input {
    position: relative;
    width: 45.5%;
    height: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: lightgray lightgray;
    border-radius: 25px 25px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px;
}

/*Insert input hover element*/

a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style-type: none;
    text-decoration: none;
    color: #222;
}

.sign_in_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
    background-color: #4c8bf5;
    padding: 7px 13px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

nav li {
    display: inline-block;
    padding: 0 7px;
}

.nav_1 {
    margin-top: -575px;
    margin-left: -35px;
}

.nav_2 {
    margin-top: -575px;
    margin-right: 11px;
}

a:hover {
    text-decoration: underline;
}

.fa {
    padding: 0 3px;
    color: gray;
}

.fa:hover {
    color: black;
}
#google_search {
    color: black;
    background: gray;
    border-radius: 25px 25px;
    border-width: 1px;
}

#feeling_lucky {
    color: black;
    background: gray;
}

.search_buttons {
    position: relative;
    width: 45.5%;
    height: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: lightgray lightgray;
    border-radius: 25px 25px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px;
}