img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 156px;
}

#search {
    position: relative;
    width: 40.5%;
    height: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid;
    border-color: #dcdcdc;
    border-radius: 25px 25px;
    border-width: 1px;
    padding: 0 35px;
}

input:hover {
    box-shadow: 1px 1px 2px 2px #dcdcdc;
}

input:focus {
    outline: none;
}

a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style-type: none;
    text-decoration: none;
    color: #222;
}

.sign_in_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
    background-color: #4c8bf5;
    padding: 7px 13px;
}


.sign_in_button:focus {
    outline: none;
}

.sign_in_button:active {
    background-color: royalblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

nav li {
    display: inline-block;
    padding: 0 7px;
}

.nav_1 {
    margin-top: -722px;
    margin-left: -35px;
}

.nav_2 {
    margin-top: -722px;
    margin-right: 11px;
}

.nav_3 {
    margin-top: -10px;
    margin-left: -25px;
    font-size: 36px;
}

.nav_4 {
    margin-top: -20px;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.fa {
    padding: 0 3px;
    color: gray;
}

.fa:hover {
    color: black;
}

#google_search {
    width: 130px;
    height: 38px;
    display: inline-block;
    color: #585858;
    background-color: #f0f0f0;
    margin-left: 485px;
    margin-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px #f8f8f8;
    border-radius: 5px 5px;
}

#google_search:hover {
    box-shadow: 1px 1px 2px 2px #dcdcdc;
    background-color: #f5f5f5;
    cursor: pointer;
}
    
#feeling_lucky {
    width: 140px;
    height: 38px;
    display: inline-block;
    color: #585858;
    background-color: #f0f0f0;
    margin-left: 5px;
    margin-top: 22px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px #f8f8f8;
    border-radius: 5px 5px;
}

#feeling_lucky:hover {
    box-shadow: 1px 1px 2px 2px #dcdcdc;
    background-color: #f5f5f5;
    cursor: pointer;
}

.footer {
    position: fixed;
    height: 40px;
    background-color: #f0f0f0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.mag_glass {
    display: flex;
    margin-top: -52px;
    margin-left: 350px;
    position: relative;
    z-index: 1;
}

.google_mic {
    display: flex;
    margin-top: -50px;
    margin-left: 880px;
    position: relative;
    z-index: 1;
}