img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 156px;
}

#search {
    position: relative;
    width: 550px;
    height: 10000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}