img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 156px;
}

input {
    position: relative;
    width: 45.5%;
    height: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: lightgray lightgray;
    border-radius: 25px 25px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px;
}

/*Insert input hover element*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-size: 16px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.flexStart {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flexEnd {
    display: flex;
    justify-content: flex-end
}*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}