img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 156px;
}

input {
    position: relative;
    width: 45.5%;
    height: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: lightgray lightgray;
    border-radius: 25px 25px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px;
}