img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

#search {
    position: relative;
    width: 250px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}